<!DOCTYPE html>
<html lang="english">
  <head>
    <title><%=pageTitle%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link href="/public/stylesheets/pembayaran.css" rel="stylesheet" />
  </head>
  <body>
    <div>

      <div class="pembayaran-container">
        <div class="pembayaran-pembayaran">
          <img
            src="/public/images/rectangle182-x3a-200h.png"
            alt="Rectangle182"
            class="pembayaran-rectangle1"
          />
          <span class="pembayaran-text">
            <span>Konfirmasi Pembayaran</span>
          </span>
          <span class="pembayaran-text02"><span>Shopee</span></span>
          <img
            src="/public/images/rectangle3815-czjc-600h.png"
            alt="Rectangle3815"
            class="pembayaran-rectangle3"
          />
          <span class="pembayaran-text04"><span>Total Pembayaran</span></span>
          <a href="detail-transaksi.html" class="pembayaran-text06">
            <span>Lihat Detail</span>
          </a>
          <div class="pembayaran-group1">
            <span class="pembayaran-text08"><span>Rp</span></span>
            <span class="pembayaran-text10"><span>200.000</span></span>
          </div>
          <img
            src="/public/images/line184-reqn.svg"
            alt="Line184"
            class="pembayaran-line1"
          />
          <div class="pembayaran-group15">
            <img
              src="/public/images/ellipse102022-y4ui-200h.png"
              alt="Ellipse102022"
              class="pembayaran-ellipse10"
            />
            <div class="pembayaran-group14">
              <img
                src="/public/images/vector2021-bdr.svg"
                alt="Vector2021"
                class="pembayaran-vector"
              />
              <img
                src="/public/images/vector2021-d3y8.svg"
                alt="Vector2021"
                class="pembayaran-vector1"
              />
              <img
                src="/public/images/vector2021-b1fo.svg"
                alt="Vector2021"
                class="pembayaran-vector2"
              />
              <img
                src="/public/images/vector2021-957m.svg"
                alt="Vector2021"
                class="pembayaran-vector3"
              />
              <img
                src="/public/images/vector2021-h7rv.svg"
                alt="Vector2021"
                class="pembayaran-vector4"
              />
              <img
                src="/public/images/vector2021-7f25.svg"
                alt="Vector2021"
                class="pembayaran-vector5"
              />
              <img
                src="/public/images/vector2021-ebm7.svg"
                alt="Vector2021"
                class="pembayaran-vector6"
              />
              <img
                src="/public/images/vector2022-el3o.svg"
                alt="Vector2022"
                class="pembayaran-vector7"
              />
              <img
                src="/public/images/vector2022-m66v.svg"
                alt="Vector2022"
                class="pembayaran-vector8"
              />
            </div>
          </div>
          <a href="payment-done.html" class="pembayaran-navlink">
            <img
              src="/public/images/rectangle4817-hw6a-200h.png"
              alt="Rectangle4817"
              class="pembayaran-rectangle4"
              style="top:600px;"
            />
          </a>
          <span class="pembayaran-text20" style="top:620px;"><span>Bayar</span></span>
        </div>
      </div>
    </div>
  </body>
</html>
