<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link href="/public/stylesheets/payment-done.css" rel="stylesheet" />
  </head>
  <body>
    <div>

      <div class="payment-done-container">
        <div class="payment-done-payment-done">
          <img
            src="/public/images/rectangle1142-0nj-200h.png"
            alt="Rectangle1142"
            class="payment-done-rectangle1"
          />
          <span class="payment-done-text">
            <span>Konfirmasi Pembayaran</span>
          </span>
          <span class="payment-done-text02"><span>E-Commerce</span></span>
          <img
            src="/public/images/rectangle3145-rzr-600h.png"
            alt="Rectangle3145"
            class="payment-done-rectangle3"
          />
          <span class="payment-done-text04"><span>Pembayaran</span></span>
          <div class="payment-done-group1">
            <span class="payment-done-text06"><span>Rp</span></span>
            <span class="payment-done-text08"><span>200.000</span></span>
          </div>
          <img
            src="/public/images/line11410-alrw.svg"
            alt="Line11410"
            class="payment-done-line1"
          />
          <img
            src="/public/images/ellipse11411-fhpt-200h.png"
            alt="Ellipse11411"
            class="payment-done-ellipse1"
          />
          <img
            src="/public/images/rectangle21412-aq3-1400w.png"
            alt="Rectangle21412"
            class="payment-done-rectangle2"
          />
          <span class="payment-done-text10"><span>OVO Cash</span></span>
          <span class="payment-done-text12"><span>Rp200.000</span></span>
          <div class="payment-done-group2">
            <span class="payment-done-text14"><span>Total Bayar</span></span>
            <span class="payment-done-text16"><span>Rp200.000</span></span>
          </div>
          <img
            src="/public/images/vector1418-60no.svg"
            alt="Vector1418"
            class="payment-done-vector"
          />
          <img
            src="/public/images/rectangle41419-m3hm-200h.png"
            alt="Rectangle41419"
            class="payment-done-rectangle4"
          />
          <span class="payment-done-text18"><span>Bayar</span></span>
          <span class="payment-done-text20">
            <span>Metode Pembayaran</span>
          </span>
          <img
            src="/public/images/rectangle51422-pbx-200h.png"
            alt="Rectangle51422"
            class="payment-done-rectangle5"
          />
          <span class="payment-done-text22">
            <span>Pakai Semua 1.024 OVO Points</span>
          </span>
          <img
            src="/public/images/rectangle61424-qahl-200h.png"
            alt="Rectangle61424"
            class="payment-done-rectangle6"
          />
          <img
            src="/public/images/blur1427-0t3e-1100h.png"
            alt="Blur1427"
            class="payment-done-blur"
          />
          <img
            src="/public/images/rectangle81428-r9j2-1400w.png"
            alt="Rectangle81428"
            class="payment-done-rectangle8"
          />
          <div class="payment-done-group5">
            <img
              src="/public/images/ellipse41429-j2ga.svg"
              alt="Ellipse41429"
              class="payment-done-ellipse4"
            />
            <img
              src="/public/images/ellipse51430-wp9-200h.png"
              alt="Ellipse51430"
              class="payment-done-ellipse5"
            />
            <img
              src="/public/images/ellipse61432-6g2.svg"
              alt="Ellipse61432"
              class="payment-done-ellipse6"
            />
            <div class="payment-done-frameiconcheckmarkoutline">
              <img
                src="/public/images/vector1435-pwlr.svg"
                alt="Vector1435"
                class="payment-done-vector01"
              />
            </div>
          </div>
          <span class="payment-done-text24"><span>Berhasil</span></span>
          <span class="payment-done-text26">
            <span>11 Apr 2023, 13:50</span>
          </span>
          <div class="payment-done-group3">
            <span class="payment-done-text28"><span>Payment ID :</span></span>
            <span class="payment-done-text30"><span>#031391</span></span>
          </div>
          <div class="payment-done-group4">
            <span class="payment-done-text32"><span>Rp</span></span>
            <div class="payment-done-group19">
              <div class="payment-done-group16">
                <span class="payment-done-text34">
                  <span>Balance left:</span>
                </span>
              </div>
              <div class="payment-done-group18">
                <div class="payment-done-group17">
                  <span class="payment-done-text36"><span>250.000</span></span>
                </div>
                <span class="payment-done-text38"><span>Rp</span></span>
              </div>
            </div>
            <span class="payment-done-text40"><span>200.000</span></span>
          </div>
          <span class="payment-done-text42"><span>Shopee</span></span>
          <span class="payment-done-text44"><span>Merchant</span></span>
          <a href="transaction-history.html" class="payment-done-navlink">
            <div class="payment-done-group6">
              <span class="payment-done-text46"><span>Done</span></span>
            </div>
          </a>
          <div class="payment-done-frameiconcontentcopy">
            <img
              src="/public/images/vector1455-oyq9.svg"
              alt="Vector1455"
              class="payment-done-vector02"
            />
          </div>
          <div class="payment-done-group15">
            <img
              src="/public/images/ellipse102207-aik-200w.png"
              alt="Ellipse102207"
              class="payment-done-ellipse10"
            />
            <div class="payment-done-group14">
              <img
                src="/public/images/vector2207-rfvl.svg"
                alt="Vector2207"
                class="payment-done-vector03"
              />
              <img
                src="/public/images/vector2207-wq2.svg"
                alt="Vector2207"
                class="payment-done-vector04"
              />
              <img
                src="/public/images/vector2207-r5oa.svg"
                alt="Vector2207"
                class="payment-done-vector05"
              />
              <img
                src="/public/images/vector2207-4nyg.svg"
                alt="Vector2207"
                class="payment-done-vector06"
              />
              <img
                src="/public/images/vector2208-9r38.svg"
                alt="Vector2208"
                class="payment-done-vector07"
              />
              <img
                src="/public/images/vector2208-7pbi.svg"
                alt="Vector2208"
                class="payment-done-vector08"
              />
              <img
                src="/public/images/vector2208-zoyi.svg"
                alt="Vector2208"
                class="payment-done-vector09"
              />
              <img
                src="/public/images/vector2208-xtn.svg"
                alt="Vector2208"
                class="payment-done-vector10"
              />
              <img
                src="/public/images/vector2208-j12.svg"
                alt="Vector2208"
                class="payment-done-vector11"
              />
            </div>
          </div>
          <img
            src="/public/images/line72209-sbh.svg"
            alt="Line72209"
            class="payment-done-line7"
          />
        </div>
      </div>
    </div>
  </body>
</html>
